* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: -apple-system;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

#root {
  display: flex;
  flex-direction: column;
  height: 110vh;
  /* min-height: 500px; */
}

a {
  color: black;
  margin: 0.7rem;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

/* ! vh, vw ============================== */
.vh10 {
  height: 4rem;
}

.vh15 {
  height: 15vh;
}

.vh70 {
  height: 70vh;
}
/* ! ===================================== */

/* ! display: flex ======================= */
.container_flex_row {
  display: flex;
}

.container_flex_column {
  display: flex;
  flex-direction: column;
}

.responsive_flex_r2c {
  display: flex;
}

.responsive_flex_c2r {
  display: flex;
  flex-direction: column;
}

.flex10 {
  flex: 10 1 0%;
}

.flex15 {
  flex: 15 1 0%;
}

.flex30 {
  flex: 30 1 0%;
}

.flex70 {
  flex: 70 1 0%;
}
/* ! ===================================== */

/* ! display: grid ======================= */
.container_grid {
  display: grid;
}

.center_grid {
  place-items: center;
  /* https://css-tricks.com/almanac/properties/p/place-items/ */
  /* align-items: center; */
  /* justify-items: center; */
}
/* ! ===================================== */

/* .text_center {
  text-align: center;
} */

.sticky_nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: solid 1px rgb(212, 212, 212);
}

.absolute_right1_nav {
  margin: 1.5rem;
  right: 0;
  position: absolute;
}

.absolute_right2_nav {
  display: none;
}

.absolute_left_nav {
  display: none;
}

.menu_closed {
  display: none;
}

.menu_open {
  display: inline-block;
}

.footer {
  border-top: solid 1px rgb(212, 212, 212);
}

@media (max-width: 500px) {
  .responsive_flex_r2c {
    display: flex;
    flex-direction: column;
  }

  .responsive_flex_c2r {
    display: flex;
  }

  .absolute_right1_nav {
    display: none;
  }

  .absolute_right2_nav {
    display: inline-block;
    margin: 1.5rem;
    right: 0;
    position: absolute;
  }

  .absolute_left_nav {
    display: inline-block;
    margin: 1.5rem;
    left: 0;
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
